#langchain_openai
langchain
langchain_core
langchain_community
python-dotenv
streamlit
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
faiss-cpu
wikipedia
arxiv
langchainhub
somepackage
###########
chainlit==1.0.300
PyPDF2